
<div class="col-sm-6" style="margin-left: 50px;">
  <ul class="list-group">
    <li class="list-group-item active" aria-current="true">Información:</li>
    <li class="list-group-item"><strong>Sistema: Operativo: </strong>{{info.sistOperativo}}</li>
    <li class="list-group-item"><strong>ID Proceso: </strong>{{info.idProceso}}</li>
    <li class="list-group-item"><strong>Node Versión: </strong>{{info.nodeVersion}}</li>
    <li class="list-group-item"><strong>Memoria Reservada: </strong>{{info.memoriaReservada}}</li>
    <li class="list-group-item"><strong>Directorio de trabajo: </strong>{{info.directorioTrabajo}}</li>
    <li class="list-group-item"><strong>Argumentos de entrada: </strong>{{info.argumentosEntrada}}</li>
    <li class="list-group-item"><strong>Carpeta de proyecto: </strong>{{info.carpetaProyecto}}</li>
    <li class="list-group-item"><strong>CPUS: </strong>{{info.workers}}</li>
  </ul>
</div>