<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <h1>Lista de Productos aleatorios</h1>
    <div style="padding: 10px;" id="productosAleatorios">
        
<h1>Lista de Productos</h1>
    {{#if productos}}         
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
        </thead>
        <tbody>
            {{#each productos}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>{{precio}}</td>
            <td><img style="width: 10%;" class="img-thumbnail" src="{{foto}}" alt="{{nombre}}"></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
  {{else}}
    <div>
        <p>No hay productos</p>
    </div>
{{/if}}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</body>

</html>

